/* CSS Document */

.retorno-senha{display:none}
.error-login{display:none}

.overlay-video{width:100%; height:100%; position:absolute; overflow:hidden}
.ytplayer-container{position: absolute; top: 0;}

.avisos-loja{border-radius:0; background-color:#ACE1C1; color:#3C763D; padding:15px 0 15px 0; font-size:16px; margin-bottom:0px}

.avisos-pesquisa{background-color:#D9EDF7; color:#31708F; font-size:16px; margin-bottom:10px; border-color:#BCE8F1}

.table > tbody > tr > td {color:#333}
.table > tbody > tr > td a{color:#333}
.table > tbody > tr > td a:hover{text-decoration:underline}

.badge-categorias {
  padding: .35em .5em;
  border-radius:6px;
}


.itens-lista-checkbox {padding:5px 15px 5px 15px }
.espacador-lista-checkbox{border-top: 1px solid #EBEBEB;color:#EBEBEB;background-color:#EBEBEB;height: 1px;}

.tab-pane h5 i{margin-right:4px}

.img-admin {
    padding: 0;
    background-color: #ffffff;
    height: 60px;
    width: 50px;
	text-align:center; line-height:30px;
	vertical-align: middle;
}

.img-banner-admin{
	padding: 0;
    height: 50px;
    width: 100px;
	text-align:center;
	vertical-align: middle;
}



.icon-danger{color:#F36270}
.miniatura-upload{border:1px solid #f5f5f5; padding:12px; width:24%; margin-right:1%; margin-bottom:10px}
.miniatura-upload-foto{background-color:#f5f5f5; margin-bottom:10px; min-height:100px;}

.img-miniatura-upload-foto-produto{max-width:100%;  max-height:100px;}
.img-admin img{max-height:35px; max-width:35px; vertical-align: middle; margin-top:13px}
.img-banner-admin img{max-height:30px; max-width:150px; vertical-align: middle; margin-top:10px}

.no-border{border:0; border-top:0}
.txt-riscado{text-decoration: line-through;}
.input-ajuste{text-align:center}
.padding-zero{padding:0;}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
  background-color:red;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


hr {
	  border-top: 1px solid #EBEBEB;
      color:#EBEBEB;
      background-color:#EBEBEB;
      height: 3px;
    }

.ajusta_altura{ line-height: 140px }
.ajusta_altura2{ line-height: 90px }

.cor-porcentagem{ color: #2AC39A }
.historico hr{ height: 1px }


/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.column {
  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}
.column header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.column.over {
  border: 2px dashed #000;
